website/node_modules
theron/node_modules

# Output
website/.output
website/.vercel
website/.svelte-kit
website/build

theron/build

# OS
website/.DS_Store
website/Thumbs.db

# Env
website/.env
website/.env.*
website/!.env.example
website/!.env.test

theron/.env
theron/.env.*
theron/!.env.example
theron/!.env.test

# Vite
website/vite.config.js.timestamp-*
website/vite.config.ts.timestamp-*

# SHH
website/src/lib/database/spec.md
website/src/lib/server/auth/spec.md
