pyloros/node_modules
theron/node_modules

# Output
pyloros/.output
pyloros/.vercel
pyloros/.svelte-kit
pyloros/build

theron/build

# OS
pyloros/.DS_Store
pyloros/Thumbs.db

# Env
pyloros/.env
pyloros/.env.*
pyloros/!.env.example
pyloros/!.env.test

theron/.env
theron/.env.*
theron/!.env.example
theron/!.env.test

# Vite
pyloros/vite.config.js.timestamp-*
pyloros/vite.config.ts.timestamp-*

# SHH
pyloros/src/lib/database/spec.md
pyloros/src/lib/server/auth/spec.md
